# Quarto
.quarto/
_site/

# R
.Rhistory
.RData
.Rproj.user/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# OS
.DS_Store

/.quarto/

**/*.quarto_ipynb

c# Private Quarto plugin configuration and sources
/.private-extensions/

# Installed private extensions
/_extensions/pyodide-interaktiv/
/_extensions/math-exercise/
/_extensions/py-exercise/

